.stretch{
    background-color: rgb(2, 140, 29);
    color: white;
    border: none;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    margin-right: 8px;
    transition: padding 40ms,
        box-shadow 15ms,
        opacity 15ms;

}
.stretch:hover{
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 11px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
}
.stretch:active{
    opacity: 0.4;
}
.shadow{
    background-color: rgb(2, 140, 29);
    color:white;
    border: none;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: opacity 15ms,
        box-shadow 15ms;
}
.shadow:hover{
    opacity: 0.8;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.shadow:active{
    opacity: 0.4;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}