.div{
  text-align: center;
  font-family: Arial;
}
.logo{
  width: 300px;
  cursor: pointer;
}
.search-bar{
  width: 600px;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.15);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
}
.f,
.s{
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: rgb(236, 236, 236);
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 15px;
  cursor: pointer;
  transition: 40ms,
    opacity 15ms,
    box-shadow 15ms;
}
.f:hover,
.s:hover{
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  opacity: 0.8;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.f:active,
.s:active{
  opacity: 0.6;
}